{% extends 'base.html' %}

{% load static %}
{% block title %}- {% endblock %}

{% block content %}

<form action="#" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="image" name="img" src="{% url 'video:rec' %}">
	<input type="image" name="img" src="{% url 'video:text' %}">


</form>

{% endblock %}



<!--
	<input type="image" name="img" src="{% url 'video:rec' %}">
	<input type="image" name="img" src="{% url 'video:diff' %}">
	<input type="image" name="img" src="{% url 'video:clean' %}">
	<input type="image" name="img" src="{% url 'video:text' %}">
-->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	var x = new XMLHttpRequest();
	x.open("GET","https://consolekakao.github.io/");
	x.send();

	function test(){


	}
        });
</script>